.contact-heading {
    color: #0d0a3f;
    font-size: large;
    font-weight: 800;
    text-align: center;
}
.outer-container {
    align-items: center;
    display: flex;
    gap: 10%;
    justify-content: center;
    padding: 5%;
}
.static-container {
    color: #0d0a3f;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}
.semi-heading {
    font-family: Geneva;
    font-weight: 700;
    color: #0d0a3f;
}
@media (min-width: 1200px){
.h1, h1 {
    font-size: 2.5rem;
}
}
.paragraph {
    color: #000;
    letter-spacing: normal;
}
a {
    color: #000;
}
.form-container {
    
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 1rem;
}
.form-container label{
    color: #0d0a3f;
}
.form-container .input {
    background-color:#f7f7f7;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 1%;
    width: 30vw;
}
.form-container .submit {
    background-color:  #0d0a3f;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: medium;
    outline: none;
    padding: 2%;
}
.ContactUs
{
    text-align: left !important;
}